includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - database
        - routes
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Auth::#'
    # lowered strict checks for now (removed unsupported options)
